<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order {{order.orderId}}</title>
</head>
<body>
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Order {{order.orderId}}</h1>
                </div>
            </div>
        </div>
    </header>
 
    <main class="container mt-4">
        <section id="product" class="mt-4">
            {% if order %}
                <h2>Customer</h2>
                    {{order.orderId}}
                <h2>Date</h2>
                    {{order.orderDate}}
            {% else %}
                There is no order.
            {% endif %}
        </section>
    </main>
</body>
</html>